<section>

    <h1>Todas as Tarefas</h1>

    <br>

    <hr>

    {{#each tasks}}

    <li class="tarefas">
        <div>
            {{#if this.done}}
            <a href="/" style="text-decoration: line-through">{{this.title}}</a>
            {{else}}
            <a href="/">{{this.title}}</a>
            {{/if}}
        </div>

        <div class="botoes">

            <form action="/tasks/updatestatus" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="hidden" name="done" value="{{this.done}}">
                <button type="submit">Feito</button>
            </form>

            <form action="/tasks/edit/{{this.id}}">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">Editar</button>
            </form>

            <form action="/tasks/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">Deletar</button>
            </form>

        </div>
    </li>

    {{/each}}


</section>